
ion-toolbar{
    --background: #007bbf;
    color: #fff;
    font-size: 20px;
    text-align: center;
    position: relative;
  }
  
  ion-content{
    --background: #f5f6f9;
  }
  
  #carrera{
    width: 100%;
    margin-left: 20px;
    background-color:#ffff;
    color: #000;
    font-size: 20px;
    text-align: left;
    display: block;
    position: relative;
  }
  
  #quatri{
    margin-top:0;
    color: #000;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    position: relative;
  }
  
  #assignatures{
    ul{
      padding: 0;
      li{
        height: auto;; //adaptar alçada!
        position: relative;
        overflow: hidden; // amaga punts de davant de cada assignatura
        //background-color: rgb(255, 169, 169);
        padding: 0px;
        margin:0px;
        +{
          li{ 
            //margin-top: 15px; //espai gris entre assignatures
          }
        }
        i{ //fletxa
          position:absolute;
          transform: translate(-6px,0);
          margin-top: 28px;
          right: 15px;
          &:before{
            content: "";
            position: absolute;
            transition: all 0.3s;
            background-color: #9d9fa6;
            width: 3px;
            height: 9px;
            transform: translate(-2px,0) rotate(45deg);
          }
          &:after{
            transform: translate(2px,0) rotate(-45deg);
            transition: all 0.3;
            content: "";
            position: absolute;
            background-color: #9d9fa6;
            width: 3px;
            height: 9px;
          }
  
        }
  
        input[type="checkbox"]{
          position: absolute;
          cursor: pointer;
          width: 100%;
          z-index:1;
          opacity: 0;
          height: 20px;
          margin-top: 20px;
          touch-action: manipulation;
          &:checked{
            ~{
              h2{
                color: #9d9fa6;
                padding: 15px 15px 15px; //17 15 0
                margin: 0px 0px 5px;
                background-color: #fff;
              }
              #prof{ //professors
                max-height: 0px;
                transition:0.3s;
                opacity:1;
                margin:0px;
                //background-color: #97ff7d;
              }
              i{ //fletxa
                &:before{
                  transform: translate(2px,0) rotate(45deg);
                }
                &:after{
                  transform: translate(-2px,0) rotate(-45deg);
                }
              }
            }
  
          }
        }
      }
    }
    
    .no-select{
      user-select: none;
    }

    h2{
      background-color:#fff;
      height: auto;
      color: #151618;
      font-size: 16px;
      line-height: 30px; //interliniat
      text-align: left;
      padding: 15px 15px 15px; //dalt esquerra baix
      text-transform: none;
      font-weight: 300;
      letter-spacing: 1px;
      display: block;
      margin: 0px;
      cursor: pointer;
      transition: 0.2;
      margin-bottom: 5px;
    }
    #prof{
      
      background-color: #fff;
      color: #6370ff;
      text-align: left;
      font-size: 14px;
      line-height: 1;
      position: relative;
      overflow: hidden;
      max-height: 250px; //altura máxima que obrirà
      will-change: max-height;
      width: 100%;
      contain: layout;
      display: inline-block;
      opacity: 1;
      transform: translate(0,0);
      margin-top: 0px;
      margin-bottom: 5px;
      padding: 0 50px 0 15px;
      transition: 0.3s opacity, 0.6s max-height;
    }
  }