
  <ion-toolbar>
    <ion-title>
      El teu professorat
    </ion-title>
  </ion-toolbar>

  <h2 id="carrera">GRAU EN ENGINYERIA DE TECNOLOGIES I SERVEIS DE TELECOMUNICACIÓ</h2>
  
<ion-content class="ion-padding">
  <h2 id= "quatri">2020-2</h2>
  <div id="assignatures">
      <ul>
          <li>
            <input type="checkbox" checked>
            <i></i>
            <h2><b>Anàlisi i Avaluació de Xarxes</b></h2>
            <div id= "prof">
              <p routerLink="/professorat/1"><u>ESTEVE PALLARES SEGARRA</u></p>
            </div>
          </li>

          <li>
            <input type="checkbox" checked>
            <i></i>
            <h2><b>Gestió d'Internet</b></h2>
            <div id= "prof">
              <p routerLink="/professorat/1"><u>ANTONIO BARBA MARTI</u></p>
            </div>
          </li>

          <li>
            <input type="checkbox" checked>
            <i></i>
            <h2><b>Sistemes de Suport a les Comunicacions Mòbils</b></h2>
            <div id= "prof">
              <p routerLink="/professorat/1"><u>JOSEP PARADELLS ASPAS</u></p>
              <p routerLink="/professorat/1"><u>ANA M. CALVERAS AUGE</u></p>
            </div>
          </li>

          <li>
            <input type="checkbox" checked>
            <i></i>
            <h2><b>Projecte Avançat d'Enginyeria de Sistemes Telemàtics</b></h2>
            <div id= "prof">
              <p routerLink="/professorat/1"><u>RAMON BRAGOS BARDIA</u></p>
              <p routerLink="/professorat/1"><u>JOAN SARDA FERRER</u></p>
              <p routerLink="/professorat/1"><u>EVA MARIA VIDAL LOPEZ</u></p>
              <p routerLink="/professorat/1"><u>JOSEP RAFAEL PEGUEROLES VALLES</u></p>
              <p routerLink="/professorat/1"><u>ANA M. CALVERAS AUGE</u></p>
            </div>
          </li>

      </ul>

  </div>
 
</ion-content>

